<% unless @one_dashcoins.empty? %>
  <div class="panel panel-primary">
    <div class="panel-heading">
      <span><%= t('.one') %></span>
    </div>
    <%= render partial: 'table', locals: {dashcoins: @one_dashcoins} %>
  </div>
<% end %>
<% unless @all_dashcoins.empty? %>
  <div class="panel panel-success">
    <div class="panel-heading">
      <span><%= t('.all') %></span>
    </div>
    <%= render partial: 'table', locals: {dashcoins: @all_dashcoins} %>
  </div>
<% end %>

<% if @all_dashcoins.empty? and @one_dashcoins.empty? %>
  <h3 class="text-info text-center"><%= t('.empty') %></h3>
<% end %>