<% unless @one_litecoins.empty? %>
  <div class="panel panel-primary">
    <div class="panel-heading">
      <span><%= t('.one') %></span>
    </div>
    <%= render partial: 'table', locals: {litecoins: @one_litecoins} %>
  </div>
<% end %>
<% unless @all_litecoins.empty? %>
  <div class="panel panel-success">
    <div class="panel-heading">
      <span><%= t('.all') %></span>
    </div>
    <%= render partial: 'table', locals: {litecoins: @all_litecoins} %>
  </div>
<% end %>

<% if @all_litecoins.empty? and @one_litecoins.empty? %>
  <h3 class="text-info text-center"><%= t('.empty') %></h3>
<% end %>